@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For Your Weather Updates <a href="https://www.accuweather.com/en/world-weather">Click Here</a>.</p>
</div>
